.copyright {
  display: flex;
  justify-content: center;
  font-weight: 300 ;
  margin: 2rem;
  color: rgb(129, 129, 129);
}

.copyright p {
  display: flex;
  align-items: center;
}

.copyright p svg {
  font-size: 1rem;
  margin: 0 0.3rem;
}
